input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}


.main-left {
    width: 20%;
    float: left;
}

.main-image {
    width: 80%;
    float: left;
}
