<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/nomalize.css">
    <link href="css/main.css">
    <title>Image Viewer</title>
</head>
<body>
    <div class="main">
        <div class="main-left">
            <form id="inputForm">
                <label for="x">X:</label>
                <input type="number" id="x" name="x" step="any" value="0">
                <br>
                <label for="y">Y:</label>
                <input type="number" id="y" name="y" step="any" value="0">
                <br>
                <label for="z">Z:</label>
                <input type="number" id="z" name="z" step="any" value="0">
                <br>
                <input type="button" value="Generate Image" onclick="requestNewImage()">
                <br>
                <input type="button" value="Generate Automatic Images" onclick="generateAutomaticImages()">
            </form>
        </div>
        
        <div class="main-image">
            <img id="image" alt="Image">
        </div>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
    <script src="{{ url_for('static', filename='image_generate.js') }}"></script>
</body>
</html>
